# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
PATH=ChromeDriverManager().install() 
driver = webdriver.Chrome(PATH,options = opciones)

[WDM] - Downloading: 100%|██████████| 6.46M/6.46M [00:02<00:00, 2.77MB/s]

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [9]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

driver = webdriver.Chrome(PATH,options = opciones)

res=driver.get(url)

nombre=driver.find_elements(By.CLASS_NAME, 'h3')
apodo=driver.find_elements(By.CLASS_NAME, 'f4')
#TAG_NAME

In [ ]:
alias=[e.text.strip() for e in apodo[2:25]]
nombre=[e.text.strip() for e in nombre]

In [ ]:

for i,x in zip(alias,nombre):
    print(f'{i} ({x}')

sobolevn (Nikita Sobolev
emilk (Emil Ernerfeldt
jonataslaw (Jonny Borges
stephencelis (Stephen Celis
azure-sdk (monkeyWie
martinbonnin (Azure SDK Bot
fffonion (Martin Bonnin
ammarahm-ed (Wangchong Zhou
mjbvz (Ammar Ahmed
aler9 (Matt Bierner
mperham (Alessandro Ros
AbhiPrasad (Mike Perham
mislav (DavidKorczynski
lhecker (Abhijeet Prasad
pcuenca (Mislav Marohnić
marcusolsson (Leonard Hecker
alexeagle (Pedro Cuenca
nolanlawson (Marcus Olsson
guardrex (Alex Eagle
jlevy (Nolan Lawson
basnijholt (Luke Latham
Ice3man543 (Joshua Levy
gedoor (Bas Nijholt

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
list_def=[f'{i} ({x}' for i,x in zip(alias,nombre)]

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

driver = webdriver.Chrome(PATH,options = opciones)

res=driver.get(url)

nombre=driver.find_elements(By.CLASS_NAME, 'h3')
apodo=driver.find_elements(By.CLASS_NAME, 'f4')

In [ ]:
for i in nombre:
    print(i.text)

public-apis / public-apis
bregman-arie / devops-exercises
facebookresearch / fairseq
cloneofsimo / paint-with-words-sd
Azure / azure-cli
caronc / apprise
joweich / chat-miner
PaddlePaddle / PaddleTS
mli / autocut
sczhou / CodeFormer
unifyai / ivy
augmentedstartups / AS-One
loTus04 / W4SP-Stealer
rwightman / pytorch-image-models
iterativv / NostalgiaForInfinity
getredash / redash
ethereum / consensus-specs
d8ahazard / sd_dreambooth_extension
microsoft / recommenders
zulip / zulip
ultralytics / yolov5
openai / improved-diffusion
facebookresearch / ParlAI
aliyun / surftrace
NVlabs / stylegan2-ada-pytorch

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

driver=webdriver.Chrome(PATH,options=opciones)


res=driver.get(url)

imagen=driver.find_elements(By.TAG_NAME,'img')

fotos=[e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]
fotos

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 

driver=webdriver.Chrome(PATH,options=opciones)

res=driver.get(url)

wiki=[e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]
wiki=wiki[1:-1]

#### Number of Titles that have changed in the United States Code since its last release point

In [ ]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

driver=webdriver.Chrome(PATH,options=opciones)
res=driver.get(url)

titles=[e.text for e in driver.find_elements(By.CLASS_NAME,'usctitlechanged')]

In [ ]:
len(titles)

9

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)

fbi=[e.text for e in driver.find_elements(By.CLASS_NAME, 'title')]

In [ ]:
fbi

['MOST WANTED',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

driver=webdriver.Chrome(PATH,options=opciones)

res=driver.get(url)

tabla=driver.find_element(By.XPATH,'//*[@id="tbody"]')

filas=tabla.find_elements(By.TAG_NAME, 'tr')

In [ ]:
data=[]

for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in elemen:
        
        tmp.append(e.text)
        
    data.append(tmp)

In [ ]:
data

[['2022-11-09   16:10:36.3\n32min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '2',
  '',
  '2.5',
  ' CENTRAL ITALY'],
 ['2022-11-09   16:07:15.2\n35min ago',
  '34.55 ',
  'N  ',
  '23.87 ',
  'E  ',
  '21',
  '',
  '2.7',
  ' CRETE, GREECE'],
 ['2022-11-09   15:58:32.1\n44min ago',
  '37.07 ',
  'N  ',
  '28.38 ',
  'E  ',
  '9',
  '',
  '2.9',
  ' WESTERN TURKEY'],
 ['2022-11-09   15:40:34.6\n1hr 02min ago',
  '43.97 ',
  'N  ',
  '13.33 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   15:37:05.0\n1hr 05min ago',
  '21.53 ',
  'S  ',
  '68.57 ',
  'W  ',
  '115',
  '',
  '2.9',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   15:26:21.9\n1hr 16min ago',
  '44.01 ',
  'N  ',
  '13.28 ',
  'E  ',
  '26',
  '',
  '2.4',
  ' ADRIATIC SEA'],
 ['2022-11-09   15:23:39.1\n1hr 19min ago',
  '44.00 ',
  'N  ',
  '13.30 ',
  'E  ',
  '9',
  '',
  '2.2',
  ' ADRIATIC SEA'],
 ['2022-11-09   15:06:55.0\n1hr 35min ago',
  '12.70 ',
  'N  ',
  '88.19 ',
  'W  ',
  '33',
  '',
  '2.6',
  ' OFFSHORE EL SALVADOR'],
 ['2022-11-09   14:58:24.0\n1hr 44min ago',
  '17.32 ',
  'N  ',
  '100.83 ',
  'W  ',
  '12',
  '',
  '4.3',
  ' GUERRERO, MEXICO'],
 ['2022-11-09   14:51:54.6\n1hr 50min ago',
  '35.91 ',
  'N  ',
  '90.01 ',
  'W  ',
  '7',
  '',
  '2.4',
  ' ARKANSAS'],
 ['2022-11-09   14:47:27.1\n1hr 55min ago',
  '43.92 ',
  'N  ',
  '13.26 ',
  'E  ',
  '13',
  '',
  '2.3',
  ' CENTRAL ITALY'],
 ['2022-11-09   14:10:53.7\n2hr 31min ago',
  '35.91 ',
  'N  ',
  '117.71 ',
  'W  ',
  '2',
  '',
  '2.1',
  ' CENTRAL CALIFORNIA'],
 ['2022-11-09   13:54:07.6\n2hr 48min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '10',
  '',
  '2.0',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:48:48.0\n2hr 54min ago',
  '40.16 ',
  'N  ',
  '119.14 ',
  'W  ',
  '10',
  '',
  '2.8',
  ' NEVADA'],
 ['2022-11-09   13:41:43.0\n3hr 01min ago',
  '3.02 ',
  'S  ',
  '122.04 ',
  'E  ',
  '10',
  '',
  '3.1',
  ' SULAWESI, INDONESIA'],
 ['2022-11-09   13:37:46.8\n3hr 05min ago',
  '43.95 ',
  'N  ',
  '13.31 ',
  'E  ',
  '9',
  '',
  '2.6',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:34:23.2\n3hr 08min ago',
  '43.95 ',
  'N  ',
  '13.36 ',
  'E  ',
  '7',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:34:05.0\n3hr 08min ago',
  '64.02 ',
  'N  ',
  '21.35 ',
  'W  ',
  '5',
  '',
  '3.2',
  ' ICELAND'],
 ['2022-11-09   13:21:37.0\n3hr 21min ago',
  '27.89 ',
  'S  ',
  '66.75 ',
  'W  ',
  '182',
  '',
  '3.1',
  ' CATAMARCA, ARGENTINA'],
 ['2022-11-09   13:19:03.0\n3hr 23min ago',
  '11.55 ',
  'N  ',
  '87.48 ',
  'W  ',
  '30',
  '',
  '3.0',
  ' NEAR COAST OF NICARAGUA'],
 ['2022-11-09   13:16:24.1\n3hr 26min ago',
  '45.65 ',
  'N  ',
  '26.61 ',
  'E  ',
  '82',
  '',
  '2.8',
  ' ROMANIA'],
 ['2022-11-09   13:08:41.0\n3hr 34min ago',
  '18.88 ',
  'N  ',
  '121.95 ',
  'E  ',
  '113',
  '',
  '3.2',
  ' LUZON, PHILIPPINES'],
 ['2022-11-09   13:08:02.0\n3hr 34min ago',
  '22.20 ',
  'S  ',
  '68.71 ',
  'W  ',
  '112',
  '',
  '2.8',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   13:00:04.7\n3hr 42min ago',
  '19.38 ',
  'N  ',
  '66.34 ',
  'W  ',
  '11',
  '',
  '3.6',
  ' PUERTO RICO REGION'],
 ['2022-11-09   12:54:30.9\n3hr 48min ago',
  '58.51 ',
  'N  ',
  '152.25 ',
  'W  ',
  '35',
  '',
  '2.6',
  ' KODIAK ISLAND REGION, ALASKA'],
 ['2022-11-09   12:52:25.0\n3hr 50min ago',
  '1.67 ',
  'N  ',
  '127.04 ',
  'E  ',
  '27',
  '',
  '4.3',
  ' HALMAHERA, INDONESIA'],
 ['2022-11-09   12:51:38.5\n3hr 51min ago',
  '49.32 ',
  'N  ',
  '156.05 ',
  'E  ',
  '50',
  '',
  '4.4',
  ' KURIL ISLANDS'],
 ['2022-11-09   12:45:59.0\n3hr 56min ago',
  '27.80 ',
  'S  ',
  '71.24 ',
  'W  ',
  '11',
  '',
  '2.8',
  ' OFFSHORE ATACAMA, CHILE'],
 ['2022-11-09   12:44:13.5\n3hr 58min ago',
  '43.98 ',
  'N  ',
  '13.27 ',
  'E  ',
  '10',
  '',
  '2.4',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:33:52.0\n4hr 09min ago',
  '43.90 ',
  'N  ',
  '13.39 ',
  'E  ',
  '8',
  '',
  '2.3',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:29:54.0\n4hr 12min ago',
  '33.05 ',
  'S  ',
  '68.16 ',
  'W  ',
  '10',
  '',
  '3.1',
  ' MENDOZA, ARGENTINA'],
 ['2022-11-09   12:20:59.8\n4hr 21min ago',
  '43.96 ',
  'N  ',
  '13.33 ',
  'E  ',
  '9',
  '',
  '2.0',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:13:03.6\n4hr 29min ago',
  '43.95 ',
  'N  ',
  '13.32 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:10:37.9\n4hr 32min ago',
  '19.16 ',
  'N  ',
  '155.38 ',
  'W  ',
  '36',
  '',
  '2.6',
  ' ISLAND OF HAWAII, HAWAII'],
 ['2022-11-09   12:10:05.4\n4hr 32min ago',
  '44.05 ',
  'N  ',
  '13.31 ',
  'E  ',
  '26',
  '',
  '3.9',
  ' ADRIATIC SEA'],
 ['2022-11-09   12:02:56.2\n4hr 39min ago',
  '44.01 ',
  'N  ',
  '13.27 ',
  'E  ',
  '8',
  '',
  '3.1',
  ' ADRIATIC SEA'],
 ['2022-11-09   11:50:55.0\n4hr 51min ago',
  '8.40 ',
  'S  ',
  '119.82 ',
  'E  ',
  '142',
  '',
  '3.2',
  ' FLORES REGION, INDONESIA'],
 ['2022-11-09   11:46:06.2\n4hr 56min ago',
  '19.10 ',
  'N  ',
  '155.42 ',
  'W  ',
  '30',
  '',
  '2.0',
  ' ISLAND OF HAWAII, HAWAII'],
 ['2022-11-09   11:41:07.0\n5hr 01min ago',
  '2.98 ',
  'S  ',
  '140.05 ',
  'E  ',
  '16',
  '',
  '2.7',
  ' NEAR N COAST OF PAPUA, INDONESIA'],
 ['2022-11-09   11:10:29.0\n5hr 32min ago',
  '11.50 ',
  'N  ',
  '87.50 ',
  'W  ',
  '78',
  '',
  '2.7',
  ' NEAR COAST OF NICARAGUA'],
 ['2022-11-09   11:09:26.0\n5hr 33min ago',
  '18.21 ',
  'N  ',
  '103.59 ',
  'W  ',
  '5',
  '',
  '4.1',
  ' OFFSHORE MICHOACAN, MEXICO'],
 ['2022-11-09   11:08:33.7\n5hr 34min ago',
  '39.89 ',
  'N  ',
  '15.74 ',
  'E  ',
  '16',
  '',
  '2.6',
  ' SOUTHERN ITALY'],
 ['2022-11-09   11:03:23.9\n5hr 39min ago',
  '43.91 ',
  'N  ',
  '13.34 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   11:01:42.9\n5hr 41min ago',
  '43.90 ',
  'N  ',
  '13.24 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:56:24.0\n5hr 46min ago',
  '22.85 ',
  'S  ',
  '69.13 ',
  'W  ',
  '80',
  '',
  '2.6',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   10:51:47.4\n5hr 51min ago',
  '43.92 ',
  'N  ',
  '13.31 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:46:21.4\n5hr 56min ago',
  '17.92 ',
  'N  ',
  '67.20 ',
  'W  ',
  '9',
  '',
  '2.5',
  ' PUERTO RICO REGION'],
 ['2022-11-09   10:43:58.2\n5hr 58min ago',
  '43.99 ',
  'N  ',
  '13.31 ',
  'E  ',
  '10',
  '',
  '2.1',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:38:52.2\n6hr 04min ago',
  '44.04 ',
  'N  ',
  '13.32 ',
  'E  ',
  '10',
  '',
  '2.0',
  ' ADRIATIC SEA'],
 ['2022-11-09   10:36:27.0\n6hr 06min ago',
  '18.69 ',
  'N  ',
  '103.88 ',
  'W  ',
  '4',
  '',
  '3.6',
  ' OFFSHORE COLIMA, MEXICO']]

In [ ]:
for i in range(len(data)):
    data[i]=data[i][3:]

In [ ]:
for i in range(len(data)):
    data[i]=data[i][:-1]

In [ ]:
data

[['2022-11-09   16:10:36.3\n32min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '2',
  '',
  '2.5',
  ' CENTRAL ITALY'],
 ['2022-11-09   16:07:15.2\n35min ago',
  '34.55 ',
  'N  ',
  '23.87 ',
  'E  ',
  '21',
  '',
  '2.7',
  ' CRETE, GREECE'],
 ['2022-11-09   15:58:32.1\n44min ago',
  '37.07 ',
  'N  ',
  '28.38 ',
  'E  ',
  '9',
  '',
  '2.9',
  ' WESTERN TURKEY'],
 ['2022-11-09   15:40:34.6\n1hr 02min ago',
  '43.97 ',
  'N  ',
  '13.33 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   15:37:05.0\n1hr 05min ago',
  '21.53 ',
  'S  ',
  '68.57 ',
  'W  ',
  '115',
  '',
  '2.9',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   15:26:21.9\n1hr 16min ago',
  '44.01 ',
  'N  ',
  '13.28 ',
  'E  ',
  '26',
  '',
  '2.4',
  ' ADRIATIC SEA'],
 ['2022-11-09   15:23:39.1\n1hr 19min ago',
  '44.00 ',
  'N  ',
  '13.30 ',
  'E  ',
  '9',
  '',
  '2.2',
  ' ADRIATIC SEA'],
 ['2022-11-09   15:06:55.0\n1hr 35min ago',
  '12.70 ',
  'N  ',
  '88.19 ',
  'W  ',
  '33',
  '',
  '2.6',
  ' OFFSHORE EL SALVADOR'],
 ['2022-11-09   14:58:24.0\n1hr 44min ago',
  '17.32 ',
  'N  ',
  '100.83 ',
  'W  ',
  '12',
  '',
  '4.3',
  ' GUERRERO, MEXICO'],
 ['2022-11-09   14:51:54.6\n1hr 50min ago',
  '35.91 ',
  'N  ',
  '90.01 ',
  'W  ',
  '7',
  '',
  '2.4',
  ' ARKANSAS'],
 ['2022-11-09   14:47:27.1\n1hr 55min ago',
  '43.92 ',
  'N  ',
  '13.26 ',
  'E  ',
  '13',
  '',
  '2.3',
  ' CENTRAL ITALY'],
 ['2022-11-09   14:10:53.7\n2hr 31min ago',
  '35.91 ',
  'N  ',
  '117.71 ',
  'W  ',
  '2',
  '',
  '2.1',
  ' CENTRAL CALIFORNIA'],
 ['2022-11-09   13:54:07.6\n2hr 48min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '10',
  '',
  '2.0',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:48:48.0\n2hr 54min ago',
  '40.16 ',
  'N  ',
  '119.14 ',
  'W  ',
  '10',
  '',
  '2.8',
  ' NEVADA'],
 ['2022-11-09   13:41:43.0\n3hr 01min ago',
  '3.02 ',
  'S  ',
  '122.04 ',
  'E  ',
  '10',
  '',
  '3.1',
  ' SULAWESI, INDONESIA'],
 ['2022-11-09   13:37:46.8\n3hr 05min ago',
  '43.95 ',
  'N  ',
  '13.31 ',
  'E  ',
  '9',
  '',
  '2.6',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:34:23.2\n3hr 08min ago',
  '43.95 ',
  'N  ',
  '13.36 ',
  'E  ',
  '7',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   13:34:05.0\n3hr 08min ago',
  '64.02 ',
  'N  ',
  '21.35 ',
  'W  ',
  '5',
  '',
  '3.2',
  ' ICELAND'],
 ['2022-11-09   13:21:37.0\n3hr 21min ago',
  '27.89 ',
  'S  ',
  '66.75 ',
  'W  ',
  '182',
  '',
  '3.1',
  ' CATAMARCA, ARGENTINA'],
 ['2022-11-09   13:19:03.0\n3hr 23min ago',
  '11.55 ',
  'N  ',
  '87.48 ',
  'W  ',
  '30',
  '',
  '3.0',
  ' NEAR COAST OF NICARAGUA'],
 ['2022-11-09   13:16:24.1\n3hr 26min ago',
  '45.65 ',
  'N  ',
  '26.61 ',
  'E  ',
  '82',
  '',
  '2.8',
  ' ROMANIA'],
 ['2022-11-09   13:08:41.0\n3hr 34min ago',
  '18.88 ',
  'N  ',
  '121.95 ',
  'E  ',
  '113',
  '',
  '3.2',
  ' LUZON, PHILIPPINES'],
 ['2022-11-09   13:08:02.0\n3hr 34min ago',
  '22.20 ',
  'S  ',
  '68.71 ',
  'W  ',
  '112',
  '',
  '2.8',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   13:00:04.7\n3hr 42min ago',
  '19.38 ',
  'N  ',
  '66.34 ',
  'W  ',
  '11',
  '',
  '3.6',
  ' PUERTO RICO REGION'],
 ['2022-11-09   12:54:30.9\n3hr 48min ago',
  '58.51 ',
  'N  ',
  '152.25 ',
  'W  ',
  '35',
  '',
  '2.6',
  ' KODIAK ISLAND REGION, ALASKA'],
 ['2022-11-09   12:52:25.0\n3hr 50min ago',
  '1.67 ',
  'N  ',
  '127.04 ',
  'E  ',
  '27',
  '',
  '4.3',
  ' HALMAHERA, INDONESIA'],
 ['2022-11-09   12:51:38.5\n3hr 51min ago',
  '49.32 ',
  'N  ',
  '156.05 ',
  'E  ',
  '50',
  '',
  '4.4',
  ' KURIL ISLANDS'],
 ['2022-11-09   12:45:59.0\n3hr 56min ago',
  '27.80 ',
  'S  ',
  '71.24 ',
  'W  ',
  '11',
  '',
  '2.8',
  ' OFFSHORE ATACAMA, CHILE'],
 ['2022-11-09   12:44:13.5\n3hr 58min ago',
  '43.98 ',
  'N  ',
  '13.27 ',
  'E  ',
  '10',
  '',
  '2.4',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:33:52.0\n4hr 09min ago',
  '43.90 ',
  'N  ',
  '13.39 ',
  'E  ',
  '8',
  '',
  '2.3',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:29:54.0\n4hr 12min ago',
  '33.05 ',
  'S  ',
  '68.16 ',
  'W  ',
  '10',
  '',
  '3.1',
  ' MENDOZA, ARGENTINA'],
 ['2022-11-09   12:20:59.8\n4hr 21min ago',
  '43.96 ',
  'N  ',
  '13.33 ',
  'E  ',
  '9',
  '',
  '2.0',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:13:03.6\n4hr 29min ago',
  '43.95 ',
  'N  ',
  '13.32 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   12:10:37.9\n4hr 32min ago',
  '19.16 ',
  'N  ',
  '155.38 ',
  'W  ',
  '36',
  '',
  '2.6',
  ' ISLAND OF HAWAII, HAWAII'],
 ['2022-11-09   12:10:05.4\n4hr 32min ago',
  '44.05 ',
  'N  ',
  '13.31 ',
  'E  ',
  '26',
  '',
  '3.9',
  ' ADRIATIC SEA'],
 ['2022-11-09   12:02:56.2\n4hr 39min ago',
  '44.01 ',
  'N  ',
  '13.27 ',
  'E  ',
  '8',
  '',
  '3.1',
  ' ADRIATIC SEA'],
 ['2022-11-09   11:50:55.0\n4hr 51min ago',
  '8.40 ',
  'S  ',
  '119.82 ',
  'E  ',
  '142',
  '',
  '3.2',
  ' FLORES REGION, INDONESIA'],
 ['2022-11-09   11:46:06.2\n4hr 56min ago',
  '19.10 ',
  'N  ',
  '155.42 ',
  'W  ',
  '30',
  '',
  '2.0',
  ' ISLAND OF HAWAII, HAWAII'],
 ['2022-11-09   11:41:07.0\n5hr 01min ago',
  '2.98 ',
  'S  ',
  '140.05 ',
  'E  ',
  '16',
  '',
  '2.7',
  ' NEAR N COAST OF PAPUA, INDONESIA'],
 ['2022-11-09   11:10:29.0\n5hr 32min ago',
  '11.50 ',
  'N  ',
  '87.50 ',
  'W  ',
  '78',
  '',
  '2.7',
  ' NEAR COAST OF NICARAGUA'],
 ['2022-11-09   11:09:26.0\n5hr 33min ago',
  '18.21 ',
  'N  ',
  '103.59 ',
  'W  ',
  '5',
  '',
  '4.1',
  ' OFFSHORE MICHOACAN, MEXICO'],
 ['2022-11-09   11:08:33.7\n5hr 34min ago',
  '39.89 ',
  'N  ',
  '15.74 ',
  'E  ',
  '16',
  '',
  '2.6',
  ' SOUTHERN ITALY'],
 ['2022-11-09   11:03:23.9\n5hr 39min ago',
  '43.91 ',
  'N  ',
  '13.34 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   11:01:42.9\n5hr 41min ago',
  '43.90 ',
  'N  ',
  '13.24 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:56:24.0\n5hr 46min ago',
  '22.85 ',
  'S  ',
  '69.13 ',
  'W  ',
  '80',
  '',
  '2.6',
  ' ANTOFAGASTA, CHILE'],
 ['2022-11-09   10:51:47.4\n5hr 51min ago',
  '43.92 ',
  'N  ',
  '13.31 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:46:21.4\n5hr 56min ago',
  '17.92 ',
  'N  ',
  '67.20 ',
  'W  ',
  '9',
  '',
  '2.5',
  ' PUERTO RICO REGION'],
 ['2022-11-09   10:43:58.2\n5hr 58min ago',
  '43.99 ',
  'N  ',
  '13.31 ',
  'E  ',
  '10',
  '',
  '2.1',
  ' CENTRAL ITALY'],
 ['2022-11-09   10:38:52.2\n6hr 04min ago',
  '44.04 ',
  'N  ',
  '13.32 ',
  'E  ',
  '10',
  '',
  '2.0',
  ' ADRIATIC SEA'],
 ['2022-11-09   10:36:27.0\n6hr 06min ago',
  '18.69 ',
  'N  ',
  '103.88 ',
  'W  ',
  '4',
  '',
  '3.6',
  ' OFFSHORE COLIMA, MEXICO']]

In [ ]:
fecha=[]
latitud=[]
longitud=[]
area=[]
dia=[]
hora=[]
for i in range(len(data)):
    fecha.append(data[i][0])
    latitud.append(data[i][1:3])
    longitud.append(data[i][3:5])
    area.append(data[i][8])

In [ ]:
for i in range(len(fecha)):
    dia.append(fecha[i][:10])
    hora.append(fecha[i][13:21])

In [ ]:
data2=[]
for d,h,lat,log,area in zip(dia,hora,latitud,longitud,area):
    data2.append({
                'dia':d,
                'hora':h,
                'latitud':"".join(lat),
                'longitud':"".join(log),
                'area':area})

In [ ]:
df=pd.DataFrame(data2)

In [ ]:
df

,dia,hora,latitud,longitud,area
0,2022-11-09,16:10:36,43.95 N,13.29 E,CENTRAL ITALY
1,2022-11-09,16:07:15,34.55 N,23.87 E,"CRETE, GREECE"
2,2022-11-09,15:58:32,37.07 N,28.38 E,WESTERN TURKEY
3,2022-11-09,15:40:34,43.97 N,13.33 E,CENTRAL ITALY
4,2022-11-09,15:37:05,21.53 S,68.57 W,"ANTOFAGASTA, CHILE"
5,2022-11-09,15:26:21,44.01 N,13.28 E,ADRIATIC SEA
6,2022-11-09,15:23:39,44.00 N,13.30 E,ADRIATIC SEA
7,2022-11-09,15:06:55,12.70 N,88.19 W,OFFSHORE EL SALVADOR
8,2022-11-09,14:58:24,17.32 N,100.83 W,"GUERRERO, MEXICO"
9,2022-11-09,14:51:54,35.91 N,90.01 W,ARKANSAS
10,2022-11-09,14:47:27,43.92 N,13.26 E,CENTRAL ITALY
11,2022-11-09,14:10:53,35.91 N,117.71 W,CENTRAL CALIFORNIA
12,2022-11-09,13:54:07,43.95 N,13.29 E,CENTRAL ITALY
13,2022-11-09,13:48:48,40.16 N,119.14 W,NEVADA
14,2022-11-09,13:41:43,3.02 S,122.04 E,"SULAWESI, INDONESIA"
15,2022-11-09,13:37:46,43.95 N,13.31 E,CENTRAL ITALY
16,2022-11-09,13:34:23,43.95 N,13.36 E,CENTRAL ITALY
17,2022-11-09,13:34:05,64.02 N,21.35 W,ICELAND
18,2022-11-09,13:21:37,27.89 S,66.75 W,"CATAMARCA, ARGENTINA"
19,2022-11-09,13:19:03,11.55 N,87.48 W,NEAR COAST OF NICARAGUA
20,2022-11-09,13:16:24,45.65 N,26.61 E,ROMANIA
21,2022-11-09,13:08:41,18.88 N,121.95 E,"LUZON, PHILIPPINES"
22,2022-11-09,13:08:02,22.20 S,68.71 W,"ANTOFAGASTA, CHILE"
23,2022-11-09,13:00:04,19.38 N,66.34 W,PUERTO RICO REGION
24,2022-11-09,12:54:30,58.51 N,152.25 W,"KODIAK ISLAND REGION, ALASKA"
25,2022-11-09,12:52:25,1.67 N,127.04 E,"HALMAHERA, INDONESIA"
26,2022-11-09,12:51:38,49.32 N,156.05 E,KURIL ISLANDS
27,2022-11-09,12:45:59,27.80 S,71.24 W,"OFFSHORE ATACAMA, CHILE"
28,2022-11-09,12:44:13,43.98 N,13.27 E,CENTRAL ITALY
29,2022-11-09,12:33:52,43.90 N,13.39 E,CENTRAL ITALY
30,2022-11-09,12:29:54,33.05 S,68.16 W,"MENDOZA, ARGENTINA"
31,2022-11-09,12:20:59,43.96 N,13.33 E,CENTRAL ITALY
32,2022-11-09,12:13:03,43.95 N,13.32 E,CENTRAL ITALY
33,2022-11-09,12:10:37,19.16 N,155.38 W,"ISLAND OF HAWAII, HAWAII"
34,2022-11-09,12:10:05,44.05 N,13.31 E,ADRIATIC SEA
35,2022-11-09,12:02:56,44.01 N,13.27 E,ADRIATIC SEA
36,2022-11-09,11:50:55,8.40 S,119.82 E,"FLORES REGION, INDONESIA"
37,2022-11-09,11:46:06,19.10 N,155.42 W,"ISLAND OF HAWAII, HAWAII"
38,2022-11-09,11:41:07,2.98 S,140.05 E,"NEAR N COAST OF PAPUA, INDONESIA"
39,2022-11-09,11:10:29,11.50 N,87.50 W,NEAR COAST OF NICARAGUA
40,2022-11-09,11:09:26,18.21 N,103.59 W,"OFFSHORE MICHOACAN, MEXICO"
41,2022-11-09,11:08:33,39.89 N,15.74 E,SOUTHERN ITALY
42,2022-11-09,11:03:23,43.91 N,13.34 E,CENTRAL ITALY
43,2022-11-09,11:01:42,43.90 N,13.24 E,CENTRAL ITALY
44,2022-11-09,10:56:24,22.85 S,69.13 W,"ANTOFAGASTA, CHILE"
45,2022-11-09,10:51:47,43.92 N,13.31 E,CENTRAL ITALY
46,2022-11-09,10:46:21,17.92 N,67.20 W,PUERTO RICO REGION
47,2022-11-09,10:43:58,43.99 N,13.31 E,CENTRAL ITALY
48,2022-11-09,10:38:52,44.04 N,13.32 E,ADRIATIC SEA
49,2022-11-09,10:36:27,18.69 N,103.88 W,"OFFSHORE COLIMA, MEXICO"

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'
urlk='https://twitter.com/kilianj'

driver=webdriver.Chrome(PATH, options=opciones)
res=driver.get(urlk)

nombre=driver.find_elements(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')

In [ ]:
for i in nombre:
    print(i.text)

14,2 mil Tweets

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/kilianj'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)

seguidores=driver.find_elements(By.XPATH,'//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')

In [ ]:
for i in seguidores:
    print(i.text)

14,2 mil Tweets

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

driver=webdriver.Chrome(PATH,options=opciones)

res=driver.get(url)

lenguages=[e.text for e in driver.find_elements(By.CLASS_NAME,'link-box')]

In [ ]:
lenguages

['Español\n1 755 000+ artículos',
 'English\n6 458 000+ articles',
 '日本語\n1 314 000+ 記事',
 'Русский\n1 798 000+ статей',
 'Français\n2 400 000+ articles',
 'Deutsch\n2 667 000+ Artikel',
 'Italiano\n1 742 000+ voci',
 '中文\n1 256 000+ 条目 / 條目',
 'Português\n1 085 000+ artigos',
 'العربية\n1 159 000+ مقالة']

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

driver=webdriver.Chrome(PATH,options=opciones)

res=driver.get(url)

datagob=[e.text for e in driver.find_elements(By.CLASS_NAME,'govuk-link')]

In [ ]:
datagob=datagob[4:]
datagob

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

driver=webdriver.Chrome(PATH,options=opciones)

res=driver.get(url)

tabla=driver.find_element(By.CLASS_NAME,'wikitable')

filas=tabla.find_elements(By.TAG_NAME, 'tr')

In [ ]:

data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')   
    
    tmp=[]
    
    for e in elemen:
        
        tmp.append(e.text)
        
    data.append(tmp)

    
df=pd.DataFrame(data, columns=['Language', 'Native speakers', 'Language family', 'Branch'])

,Language,Native speakers,Language family,Branch
0,None,None,None,None
1,"Mandarin Chinese\n(incl. Standard Chinese, but...",920,Sino-Tibetan,Sinitic
2,Spanish,475,Indo-European,Romance
3,English,373,Indo-European,Germanic
4,Hindi\n(excl. Urdu),344,Indo-European,Indo-Aryan
5,Bengali,234,Indo-European,Indo-Aryan
6,Portuguese,232,Indo-European,Romance
7,Russian,154,Indo-European,Balto-Slavic
8,Japanese,125,Japonic,Japanese
9,Yue Chinese\n(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
10,Vietnamese,84.6,Austroasiatic,Vietic
11,Marathi,83.1,Indo-European,Indo-Aryan
12,Telugu,82.7,Dravidian,South-Central
13,Turkish,82.2,Turkic,Oghuz
14,Wu Chinese\n(incl. Shanghainese),81.8,Sino-Tibetan,Sinitic
15,Korean,81.7,Koreanic,language isolate
16,French,79.9,Indo-European,Romance
17,Tamil,78.4,Dravidian,South
18,Standard German,75.6,Indo-European,Germanic
19,Egyptian Spoken Arabic\n(excl. Saʽidi Arabic),74.8,Afroasiatic,Semitic
20,Urdu\n(excl. Hindi),70.2,Indo-European,Indo-Aryan
21,Javanese,68.3,Austronesian,Malayo-Polynesian
22,Western Punjabi\n(excl. Eastern Punjabi),66.4,Indo-European,Indo-Aryan
23,Italian,64.8,Indo-European,Romance
24,Gujarati,57.0,Indo-European,Indo-Aryan
25,Iranian Persian\n(excl. Dari and Tajik),56.4,Indo-European,Iranian
26,Bhojpuri,52.3,Indo-European,Indo-Aryan
27,Hausa,50.8,Afroasiatic,Chadic

In [ ]:
df.drop(index=0).head(10)

,Language,Native speakers,Language family,Branch
1,"Mandarin Chinese\n(incl. Standard Chinese, but...",920,Sino-Tibetan,Sinitic
2,Spanish,475,Indo-European,Romance
3,English,373,Indo-European,Germanic
4,Hindi\n(excl. Urdu),344,Indo-European,Indo-Aryan
5,Bengali,234,Indo-European,Indo-Aryan
6,Portuguese,232,Indo-European,Romance
7,Russian,154,Indo-European,Balto-Slavic
8,Japanese,125,Japonic,Japanese
9,Yue Chinese\n(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
10,Vietnamese,84.6,Austroasiatic,Vietic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/kilianj'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)

killian=driver.find_element(By.XPATH,'//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]')

tweet=driver.find_elements(By.TAG_NAME,'article')

In [ ]:

for i in tweet:
    print(i.text)

In [ ]:
for i in killian:
    print(i.text)

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [4]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)

tabla=driver.find_element(By.XPATH,'//*[@id="main"]/div/span/div/div/div[3]/table')

In [ ]:
tabla=driver.find_element(By.TAG_NAME, 'tbody')

filas=tabla.find_elements(By.TAG_NAME, 'tr')


data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in elemen:
        
        tmp.append(e.text)
        
    data.append(tmp)

In [7]:
titulo_columna=driver.find_element(By.XPATH,'//*[@id="main"]/div/span/div/div/div[3]/table')

In [8]:
directores=titulo_columna.find_elements(By.TAG_NAME,'a')

In [9]:
director1=[]
for i in directores:
    director1.append(i.get_attribute('title'))

In [ ]:
type(director1[0])

str

In [17]:
import re
director2=[]
num=0
for i in director1:
    palabra=re.findall('\D+\(dir.\)',i)
    if num==0:
        pass
    elif num%2!=0:
        director2.append("".join(palabra))
    num+=1

In [ ]:
director2

In [ ]:
nombre_film=[]
director=[]
star=[]
for i in range(len(data)):
    nombre_film.append(data[i][1][3:])
    star.append(data[i][2])

In [20]:
imdb=[]
for n,d,s in zip(nombre_film, director2, star):
    imdb.append({
                'titulo':n,
                'director':d,
                'estrellas':s
    })
    
df_film=pd.DataFrame(imdb)

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [18]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)

tabla=driver.find_element(By.XPATH,'//*[@id="main"]/div/span/div/div/div[3]/table')

In [19]:
#filas=tabla.find_elements(By.CLASS_NAME, 'titleColumn')

data13=[e.text for e in driver.find_elements(By.CLASS_NAME, 'titleColumn')]
data13=data13[:10]

In [130]:
data13

['1. Cadena perpetua (1994)',
 '2. El padrino (1972)',
 '3. El caballero oscuro (2008)',
 '4. El padrino (parte II) (1974)',
 '5. 12 hombres sin piedad (1957)',
 '6. La lista de Schindler (1993)',
 '7. El señor de los anillos: El retorno del rey (2003)',
 '8. Pulp Fiction (1994)',
 '9. El señor de los anillos: La comunidad del anillo (2001)',
 '10. El bueno, el feo y el malo (1966)']

In [20]:
titulos=[]
fechas=[]
tmp=[]
for i in data13:
    tmp=i.split()
    titulos.append(" ".join(tmp[:-1]))
    fechas.append("".join(tmp[-1:]))

In [25]:
url = 'http://www.imdb.com/chart/top'

driver=webdriver.Chrome(PATH, options=opciones)

res=driver.get(url)


summary=[]

for i in range(1,11):   

    boton= driver.find_element(By.CSS_SELECTOR,f'#main > div > span > div > div > div.lister > table > tbody > tr:nth-child({i}) > td.titleColumn > a')
 
    boton.click()  
    
    
    spans=driver.find_element(By.CLASS_NAME, 'sc-16ede01-8.hXeKyz.sc-7643a8e3-11.efPxUc')
    
    links=spans.find_element(By.CLASS_NAME,'sc-16ede01-0.fMPjMP')
    
    summary.append(spans.text.replace('\n',' '))
    
    
    time.sleep(2) 
    
    res=driver.get(url)
    
    time.sleep(2)

In [26]:
summary

['Drama Andy Dufresne es encarcelado por matar a su esposa y al amante de esta. Tras una dura adaptación, intenta mejorar las condiciones de la prisión y dar esperanza a sus compañeros.',
 'Crimen Drama El envejecido patriarca de una dinastía del crimen organizado en la ciudad de Nueva York de la posguerra transfiere el control de su imperio clandestino a su reacio hijo menor.',
 'Acción Crimen Drama Cuando la amenaza conocida como el Joker causa estragos y el caos en Gotham City, Batman debe aceptar una de las mayores pruebas psicológicas y físicas para luchar contra la injusticia.',
 'Crimen Drama Se retratan los inicios de la vida y la carrera de Vito Corleone en el Nueva York de los años 20, mientras su hijo, Michael, amplía y refuerza su control sobre el sindicato del crimen familiar.',
 'Crimen Drama Un miembro del jurado trata de evitar un error judicial obligando al resto del jurado a reconsiderar las pruebas.',
 'Biografía Drama Historia En la Polonia ocupada por los alemanes durante la Segunda Guerra Mundial, el industrial Oskar Schindler se preocupa por sus trabajadores judíos tras presenciar su persecución por los nazis.',
 'Acción Aventura Drama Gandalf y Aragorn lideran el mundo de los hombres contra la armada de Sauron para distraer su atención de Frodo y Sam, quienes se aproximan al Monte del Destino con el Anillo Único.',
 'Crimen Drama Las vidas de dos mafiosos, un boxeador, la esposa de un gánster y un par de bandidos se entrelazan en cuatro historias de violencia y redención.',
 'Acción Aventura Drama Un hobbit de la Comarca y ocho compañeros emprenden un viaje para destruir el poderoso Anillo Único y salvar la Tierra Media del Señor Oscuro Sauron.',
 'Aventura Del oeste Durante la Guerra de Secesión, tres cazarrecompensas se lanzan a la búsqueda de un tesoro que ninguno puede localizar sin la ayuda de los otros dos.']

In [27]:
data_film=[]
for t,y,s in zip(titulos,fechas,summary):
    data_film.append({
                'titulo':t,
                'años':y,
                'resumen':s
    })

In [28]:
df=pd.DataFrame(data_film)

In [29]:
df

,titulo,años,resumen
0,1. Cadena perpetua,(1994),Drama Andy Dufresne es encarcelado por matar a...
1,2. El padrino,(1972),Crimen Drama El envejecido patriarca de una di...
2,3. El caballero oscuro,(2008),Acción Crimen Drama Cuando la amenaza conocida...
3,4. El padrino (parte II),(1974),Crimen Drama Se retratan los inicios de la vid...
4,5. 12 hombres sin piedad,(1957),Crimen Drama Un miembro del jurado trata de ev...
5,6. La lista de Schindler,(1993),Biografía Drama Historia En la Polonia ocupada...
6,7. El señor de los anillos: El retorno del rey,(2003),Acción Aventura Drama Gandalf y Aragorn lidera...
7,8. Pulp Fiction,(1994),"Crimen Drama Las vidas de dos mafiosos, un box..."
8,9. El señor de los anillos: La comunidad del a...,(2001),Acción Aventura Drama Un hobbit de la Comarca ...
9,"10. El bueno, el feo y el malo",(1966),Aventura Del oeste Durante la Guerra de Secesi...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code