# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
path=ChromeDriverManager().install()

driver=webdriver.Chrome(path)

/var/folders/0p/q9p3n_m96v7fgw9v0l4dvkyr0000gn/T/ipykernel_35064/3774487205.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [ ]:
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
nombre=[e.text for e in driver.find_elements(By.CLASS_NAME, 'col-md-6')]

In [ ]:
Sol=nombre[::2]
Sol

In [ ]:
names=[]
for e in Sol:
    names.append(e.replace('\n',','))

In [ ]:
names

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url_git = 'https://github.com/trending/python?since=daily'

In [ ]:
driver.get(url_git)

In [ ]:
name=[e.text for e in driver.find_elements(By.TAG_NAME, 'h1')]
name[1::]

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url_walt = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [ ]:
driver.get(url_walt)

In [ ]:
links=[e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]
links

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url_wiki ='https://en.wikipedia.org/wiki/Python'

In [ ]:
driver.get(url_wiki)

In [ ]:
linksW=[e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]
linksW[1::]

#### Number of Titles that have changed in the United States Code since its last release point

In [ ]:
# This is the url you will scrape in this exercise
url_usa = 'http://uscode.house.gov/download/download.shtml'

In [ ]:
driver.get(url_usa)

In [ ]:
code=[e.text for e in driver.find_elements(By.CLASS_NAME, 'usctitlechanged')]
code

In [ ]:
len(code)

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url_fbi = 'https://www.fbi.gov/wanted/topten'

In [ ]:
driver.get(url_fbi)

In [ ]:
fbi=[e.text for e in driver.find_elements(By.CLASS_NAME, 'title')]
fbi[1::]

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [9]:
# This is the url you will scrape in this exercise
url_terre = 'https://www.emsc-csem.org/Earthquake/'

In [10]:
driver.get(url_terre)

In [20]:
tabla=driver.find_element(By.XPATH, '//*[@id="tbody"]')

filas=tabla.find_elements(By.TAG_NAME, 'tr')

data=[]

for fila in filas:
    
    elementos=fila.find_elements(By.TAG_NAME, 'td') #Conjunto de datos por fila
    
    tmp=[]
    
    for dato in elementos:
        
        tmp.append(dato.text)
        
    data.append(tmp)
    
data

[['',
  '',
  '',
  '2022-11-09   17:12:40.0\n14min ago',
  '24.16 ',
  'S  ',
  '67.15 ',
  'W  ',
  '195',
  '',
  '3.1',
  ' SALTA, ARGENTINA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   17:05:45.0\n21min ago',
  '8.90 ',
  'N  ',
  '126.69 ',
  'E  ',
  '17',
  '',
  '3.2',
  ' MINDANAO, PHILIPPINES',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:58:17.0\n28min ago',
  '17.95 ',
  'N  ',
  '66.91 ',
  'W  ',
  '10',
  '',
  '2.5',
  ' PUERTO RICO REGION',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:57:37.0\n29min ago',
  '20.58 ',
  'S  ',
  '69.43 ',
  'W  ',
  '77',
  '',
  '2.6',
  ' TARAPACA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:57:20.7\n29min ago',
  '38.09 ',
  'S  ',
  '176.65 ',
  'E  ',
  '5',
  '',
  '3.0',
  ' NORTH ISLAND OF NEW ZEALAND',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:50:09.7\n37min ago',
  '43.91 ',
  'N  ',
  '13.31 ',
  'E  ',
  '7',
  '',
  '2.3',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:50:02.0\n37min ago',
  '15.10 ',
  'N  ',
  '94.37 ',
  'W  ',
  '16',
  '',
  '4.2',
  ' OFF COAST OF CHIAPAS, MEXICO',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:43:54.0\n43min ago',
  '10.16 ',
  'S  ',
  '118.81 ',
  'E  ',
  '10',
  '',
  '3.4',
  ' SOUTH OF SUMBAWA, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:41:19.4\n45min ago',
  '19.18 ',
  'N  ',
  '155.49 ',
  'W  ',
  '36',
  '',
  '2.2',
  ' ISLAND OF HAWAII, HAWAII',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:38:20.0\n48min ago',
  '10.13 ',
  'S  ',
  '118.82 ',
  'E  ',
  '10',
  '',
  '3.4',
  ' SOUTH OF SUMBAWA, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:32:35.0\n54min ago',
  '26.87 ',
  'S  ',
  '70.14 ',
  'W  ',
  '78',
  '',
  '2.8',
  ' ATACAMA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:10:36.3\n1hr 16min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '2',
  '',
  '2.5',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   16:07:15.2\n1hr 19min ago',
  '34.55 ',
  'N  ',
  '23.87 ',
  'E  ',
  '21',
  '',
  '2.7',
  ' CRETE, GREECE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:58:32.1\n1hr 28min ago',
  '37.07 ',
  'N  ',
  '28.38 ',
  'E  ',
  '9',
  '',
  '2.9',
  ' WESTERN TURKEY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:40:34.6\n1hr 46min ago',
  '43.97 ',
  'N  ',
  '13.33 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:37:05.0\n1hr 50min ago',
  '21.53 ',
  'S  ',
  '68.57 ',
  'W  ',
  '115',
  '',
  '2.9',
  ' ANTOFAGASTA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:26:21.9\n2hr 00min ago',
  '44.01 ',
  'N  ',
  '13.28 ',
  'E  ',
  '26',
  '',
  '2.4',
  ' ADRIATIC SEA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:23:39.1\n2hr 03min ago',
  '44.00 ',
  'N  ',
  '13.30 ',
  'E  ',
  '9',
  '',
  '2.2',
  ' ADRIATIC SEA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   15:06:55.0\n2hr 20min ago',
  '12.70 ',
  'N  ',
  '88.19 ',
  'W  ',
  '33',
  '',
  '2.6',
  ' OFFSHORE EL SALVADOR',
  ''],
 ['',
  '',
  '',
  '2022-11-09   14:58:24.0\n2hr 28min ago',
  '17.32 ',
  'N  ',
  '100.83 ',
  'W  ',
  '12',
  '',
  '4.3',
  ' GUERRERO, MEXICO',
  ''],
 ['',
  '',
  '',
  '2022-11-09   14:51:54.6\n2hr 35min ago',
  '35.91 ',
  'N  ',
  '90.01 ',
  'W  ',
  '7',
  '',
  '2.4',
  ' ARKANSAS',
  ''],
 ['',
  '',
  '',
  '2022-11-09   14:47:27.1\n2hr 39min ago',
  '43.92 ',
  'N  ',
  '13.26 ',
  'E  ',
  '13',
  '',
  '2.3',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   14:10:53.7\n3hr 16min ago',
  '35.91 ',
  'N  ',
  '117.71 ',
  'W  ',
  '2',
  '',
  '2.1',
  ' CENTRAL CALIFORNIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:54:07.6\n3hr 33min ago',
  '43.95 ',
  'N  ',
  '13.29 ',
  'E  ',
  '10',
  '',
  '2.0',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:48:48.8\n3hr 38min ago',
  '40.16 ',
  'N  ',
  '119.14 ',
  'W  ',
  '8',
  '',
  '2.6',
  ' NEVADA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:41:43.0\n3hr 45min ago',
  '3.02 ',
  'S  ',
  '122.04 ',
  'E  ',
  '10',
  '',
  '3.1',
  ' SULAWESI, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:37:46.8\n3hr 49min ago',
  '43.95 ',
  'N  ',
  '13.31 ',
  'E  ',
  '9',
  '',
  '2.6',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:34:23.2\n3hr 52min ago',
  '43.95 ',
  'N  ',
  '13.36 ',
  'E  ',
  '7',
  '',
  '2.2',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:34:05.0\n3hr 53min ago',
  '64.02 ',
  'N  ',
  '21.35 ',
  'W  ',
  '5',
  '',
  '3.2',
  ' ICELAND',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:21:37.0\n4hr 05min ago',
  '27.89 ',
  'S  ',
  '66.75 ',
  'W  ',
  '182',
  '',
  '3.1',
  ' CATAMARCA, ARGENTINA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:19:03.0\n4hr 08min ago',
  '11.55 ',
  'N  ',
  '87.48 ',
  'W  ',
  '30',
  '',
  '3.0',
  ' NEAR COAST OF NICARAGUA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:16:24.1\n4hr 10min ago',
  '45.65 ',
  'N  ',
  '26.61 ',
  'E  ',
  '82',
  '',
  '2.8',
  ' ROMANIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:08:41.0\n4hr 18min ago',
  '18.88 ',
  'N  ',
  '121.95 ',
  'E  ',
  '113',
  '',
  '3.2',
  ' LUZON, PHILIPPINES',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:08:02.0\n4hr 19min ago',
  '22.20 ',
  'S  ',
  '68.71 ',
  'W  ',
  '112',
  '',
  '2.8',
  ' ANTOFAGASTA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   13:00:04.7\n4hr 27min ago',
  '19.38 ',
  'N  ',
  '66.34 ',
  'W  ',
  '11',
  '',
  '3.6',
  ' PUERTO RICO REGION',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:54:30.9\n4hr 32min ago',
  '58.51 ',
  'N  ',
  '152.25 ',
  'W  ',
  '35',
  '',
  '2.6',
  ' KODIAK ISLAND REGION, ALASKA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:52:25.0\n4hr 34min ago',
  '1.67 ',
  'N  ',
  '127.04 ',
  'E  ',
  '27',
  '',
  '4.3',
  ' HALMAHERA, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:51:38.5\n4hr 35min ago',
  '49.32 ',
  'N  ',
  '156.05 ',
  'E  ',
  '50',
  '',
  '4.4',
  ' KURIL ISLANDS',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:45:59.0\n4hr 41min ago',
  '27.80 ',
  'S  ',
  '71.24 ',
  'W  ',
  '11',
  '',
  '2.8',
  ' OFFSHORE ATACAMA, CHILE',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:44:13.5\n4hr 42min ago',
  '43.98 ',
  'N  ',
  '13.27 ',
  'E  ',
  '10',
  '',
  '2.4',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:33:52.0\n4hr 53min ago',
  '43.90 ',
  'N  ',
  '13.39 ',
  'E  ',
  '8',
  '',
  '2.3',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:29:54.0\n4hr 57min ago',
  '33.05 ',
  'S  ',
  '68.16 ',
  'W  ',
  '10',
  '',
  '3.1',
  ' MENDOZA, ARGENTINA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:20:59.8\n5hr 06min ago',
  '43.96 ',
  'N  ',
  '13.33 ',
  'E  ',
  '9',
  '',
  '2.0',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:13:03.6\n5hr 14min ago',
  '43.95 ',
  'N  ',
  '13.32 ',
  'E  ',
  '10',
  '',
  '2.2',
  ' CENTRAL ITALY',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:10:37.9\n5hr 16min ago',
  '19.16 ',
  'N  ',
  '155.38 ',
  'W  ',
  '36',
  '',
  '2.6',
  ' ISLAND OF HAWAII, HAWAII',
  ''],
 ['6',
  '',
  'III',
  '2022-11-09   12:10:05.4\n5hr 17min ago',
  '44.05 ',
  'N  ',
  '13.31 ',
  'E  ',
  '26',
  '',
  '3.9',
  ' ADRIATIC SEA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   12:02:56.2\n5hr 24min ago',
  '44.01 ',
  'N  ',
  '13.27 ',
  'E  ',
  '8',
  '',
  '3.1',
  ' ADRIATIC SEA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   11:50:55.0\n5hr 36min ago',
  '8.40 ',
  'S  ',
  '119.82 ',
  'E  ',
  '142',
  '',
  '3.2',
  ' FLORES REGION, INDONESIA',
  ''],
 ['',
  '',
  '',
  '2022-11-09   11:46:06.2\n5hr 41min ago',
  '19.10 ',
  'N  ',
  '155.42 ',
  'W  ',
  '30',
  '',
  '2.0',
  ' ISLAND OF HAWAII, HAWAII',
  ''],
 ['',
  '',
  '',
  '2022-11-09   11:41:07.0\n5hr 46min ago',
  '2.98 ',
  'S  ',
  '140.05 ',
  'E  ',
  '16',
  '',
  '2.7',
  ' NEAR N COAST OF PAPUA, INDONESIA',
  '']]

In [29]:
cols = [e.text.split('\n')[0] for e in driver.find_elements(By.TAG_NAME, 'th')]
cols

['Citizen',
 'Date & Time',
 'Latitude',
 'Longitude',
 'Depth',
 'Mag',
 'Region name',
 '']

In [30]:
fullcols= ['Citizen_Response','Citizen_Response','Citizen_Response','Date & Time','Latitude','N/S',
       'Longitude','E/W','Depth',' ','Mag','Region_name',' ']

In [32]:
df = pd.DataFrame(data, columns=fullcols)
df

,Citizen_Response,Citizen_Response,Citizen_Response,Date & Time,Latitude,N/S,Longitude,E/W,Depth,,Mag,Region_name,
0,,,,2022-11-09 17:12:40.0\n14min ago,24.16,S,67.15,W,195,,3.1,"SALTA, ARGENTINA",
1,,,,2022-11-09 17:05:45.0\n21min ago,8.90,N,126.69,E,17,,3.2,"MINDANAO, PHILIPPINES",
2,,,,2022-11-09 16:58:17.0\n28min ago,17.95,N,66.91,W,10,,2.5,PUERTO RICO REGION,
3,,,,2022-11-09 16:57:37.0\n29min ago,20.58,S,69.43,W,77,,2.6,"TARAPACA, CHILE",
4,,,,2022-11-09 16:57:20.7\n29min ago,38.09,S,176.65,E,5,,3.0,NORTH ISLAND OF NEW ZEALAND,
5,,,,2022-11-09 16:50:09.7\n37min ago,43.91,N,13.31,E,7,,2.3,CENTRAL ITALY,
6,,,,2022-11-09 16:50:02.0\n37min ago,15.10,N,94.37,W,16,,4.2,"OFF COAST OF CHIAPAS, MEXICO",
7,,,,2022-11-09 16:43:54.0\n43min ago,10.16,S,118.81,E,10,,3.4,"SOUTH OF SUMBAWA, INDONESIA",
8,,,,2022-11-09 16:41:19.4\n45min ago,19.18,N,155.49,W,36,,2.2,"ISLAND OF HAWAII, HAWAII",
9,,,,2022-11-09 16:38:20.0\n48min ago,10.13,S,118.82,E,10,,3.4,"SOUTH OF SUMBAWA, INDONESIA",
10,,,,2022-11-09 16:32:35.0\n54min ago,26.87,S,70.14,W,78,,2.8,"ATACAMA, CHILE",
11,,,,2022-11-09 16:10:36.3\n1hr 16min ago,43.95,N,13.29,E,2,,2.5,CENTRAL ITALY,
12,,,,2022-11-09 16:07:15.2\n1hr 19min ago,34.55,N,23.87,E,21,,2.7,"CRETE, GREECE",
13,,,,2022-11-09 15:58:32.1\n1hr 28min ago,37.07,N,28.38,E,9,,2.9,WESTERN TURKEY,
14,,,,2022-11-09 15:40:34.6\n1hr 46min ago,43.97,N,13.33,E,10,,2.2,CENTRAL ITALY,
15,,,,2022-11-09 15:37:05.0\n1hr 50min ago,21.53,S,68.57,W,115,,2.9,"ANTOFAGASTA, CHILE",
16,,,,2022-11-09 15:26:21.9\n2hr 00min ago,44.01,N,13.28,E,26,,2.4,ADRIATIC SEA,
17,,,,2022-11-09 15:23:39.1\n2hr 03min ago,44.00,N,13.30,E,9,,2.2,ADRIATIC SEA,
18,,,,2022-11-09 15:06:55.0\n2hr 20min ago,12.70,N,88.19,W,33,,2.6,OFFSHORE EL SALVADOR,
19,,,,2022-11-09 14:58:24.0\n2hr 28min ago,17.32,N,100.83,W,12,,4.3,"GUERRERO, MEXICO",
20,,,,2022-11-09 14:51:54.6\n2hr 35min ago,35.91,N,90.01,W,7,,2.4,ARKANSAS,
21,,,,2022-11-09 14:47:27.1\n2hr 39min ago,43.92,N,13.26,E,13,,2.3,CENTRAL ITALY,
22,,,,2022-11-09 14:10:53.7\n3hr 16min ago,35.91,N,117.71,W,2,,2.1,CENTRAL CALIFORNIA,
23,,,,2022-11-09 13:54:07.6\n3hr 33min ago,43.95,N,13.29,E,10,,2.0,CENTRAL ITALY,
24,,,,2022-11-09 13:48:48.8\n3hr 38min ago,40.16,N,119.14,W,8,,2.6,NEVADA,
25,,,,2022-11-09 13:41:43.0\n3hr 45min ago,3.02,S,122.04,E,10,,3.1,"SULAWESI, INDONESIA",
26,,,,2022-11-09 13:37:46.8\n3hr 49min ago,43.95,N,13.31,E,9,,2.6,CENTRAL ITALY,
27,,,,2022-11-09 13:34:23.2\n3hr 52min ago,43.95,N,13.36,E,7,,2.2,CENTRAL ITALY,
28,,,,2022-11-09 13:34:05.0\n3hr 53min ago,64.02,N,21.35,W,5,,3.2,ICELAND,
29,,,,2022-11-09 13:21:37.0\n4hr 05min ago,27.89,S,66.75,W,182,,3.1,"CATAMARCA, ARGENTINA",
30,,,,2022-11-09 13:19:03.0\n4hr 08min ago,11.55,N,87.48,W,30,,3.0,NEAR COAST OF NICARAGUA,
31,,,,2022-11-09 13:16:24.1\n4hr 10min ago,45.65,N,26.61,E,82,,2.8,ROMANIA,
32,,,,2022-11-09 13:08:41.0\n4hr 18min ago,18.88,N,121.95,E,113,,3.2,"LUZON, PHILIPPINES",
33,,,,2022-11-09 13:08:02.0\n4hr 19min ago,22.20,S,68.71,W,112,,2.8,"ANTOFAGASTA, CHILE",
34,,,,2022-11-09 13:00:04.7\n4hr 27min ago,19.38,N,66.34,W,11,,3.6,PUERTO RICO REGION,
35,,,,2022-11-09 12:54:30.9\n4hr 32min ago,58.51,N,152.25,W,35,,2.6,"KODIAK ISLAND REGION, ALASKA",
36,,,,2022-11-09 12:52:25.0\n4hr 34min ago,1.67,N,127.04,E,27,,4.3,"HALMAHERA, INDONESIA",
37,,,,2022-11-09 12:51:38.5\n4hr 35min ago,49.32,N,156.05,E,50,,4.4,KURIL ISLANDS,
38,,,,2022-11-09 12:45:59.0\n4hr 41min ago,27.80,S,71.24,W,11,,2.8,"OFFSHORE ATACAMA, CHILE",
39,,,,2022-11-09 12:44:13.5\n4hr 42min ago,43.98,N,13.27,E,10,,2.4,CENTRAL ITALY,
40,,,,2022-11-09 12:33:52.0\n4hr 53min ago,43.90,N,13.39,E,8,,2.3,CENTRAL ITALY,
41,,,,2022-11-09 12:29:54.0\n4hr 57min ago,33.05,S,68.16,W,10,,3.1,"MENDOZA, ARGENTINA",
42,,,,2022-11-09 12:20:59.8\n5hr 06min ago,43.96,N,13.33,E,9,,2.0,CENTRAL ITALY,
43,,,,2022-11-09 12:13:03.6\n5hr 14min ago,43.95,N,13.32,E,10,,2.2,CENTRAL ITALY,
44,,,,2022-11-09 12:10:37.9\n5hr 16min ago,19.16,N,155.38,W,36,,2.6,"ISLAND OF HAWAII, HAWAII",
45,6,,III,2022-11-09 12:10:05.4\n5hr 17min ago,44.05,N,13.31,E,26,,3.9,ADRIATIC SEA,
46,,,,2022-11-09 12:02:56.2\n5hr 24min ago,44.01,N,13.27,E,8,,3.1,ADRIATIC SEA,
47,,,,2022-11-09 11:50:55.0\n5hr 36min ago,8.40,S,119.82,E,142,,3.2,"FLORES REGION, INDONESIA",
48,,,,2022-11-09 11:46:06.2\n5hr 41min ago,19.10,N,155.42,W,30,,2.0,"ISLAND OF HAWAII, HAWAII",
49,,,,2022-11-09 11:41:07.0\n5hr 46min ago,2.98,S,140.05,E,16,,2.7,"NEAR N COAST OF PAPUA, INDONESIA",

In [33]:
cols_mal = ['Citizen_Response','Citizen_Response','N/S','E/W','Depth',' ','Mag',' ']

In [35]:
df. drop(cols_mal, axis=1, inplace=True)

In [36]:
df[:20]

,Date & Time,Latitude,Longitude,Region_name
0,2022-11-09 17:12:40.0\n14min ago,24.16,67.15,"SALTA, ARGENTINA"
1,2022-11-09 17:05:45.0\n21min ago,8.90,126.69,"MINDANAO, PHILIPPINES"
2,2022-11-09 16:58:17.0\n28min ago,17.95,66.91,PUERTO RICO REGION
3,2022-11-09 16:57:37.0\n29min ago,20.58,69.43,"TARAPACA, CHILE"
4,2022-11-09 16:57:20.7\n29min ago,38.09,176.65,NORTH ISLAND OF NEW ZEALAND
5,2022-11-09 16:50:09.7\n37min ago,43.91,13.31,CENTRAL ITALY
6,2022-11-09 16:50:02.0\n37min ago,15.10,94.37,"OFF COAST OF CHIAPAS, MEXICO"
7,2022-11-09 16:43:54.0\n43min ago,10.16,118.81,"SOUTH OF SUMBAWA, INDONESIA"
8,2022-11-09 16:41:19.4\n45min ago,19.18,155.49,"ISLAND OF HAWAII, HAWAII"
9,2022-11-09 16:38:20.0\n48min ago,10.13,118.82,"SOUTH OF SUMBAWA, INDONESIA"
10,2022-11-09 16:32:35.0\n54min ago,26.87,70.14,"ATACAMA, CHILE"
11,2022-11-09 16:10:36.3\n1hr 16min ago,43.95,13.29,CENTRAL ITALY
12,2022-11-09 16:07:15.2\n1hr 19min ago,34.55,23.87,"CRETE, GREECE"
13,2022-11-09 15:58:32.1\n1hr 28min ago,37.07,28.38,WESTERN TURKEY
14,2022-11-09 15:40:34.6\n1hr 46min ago,43.97,13.33,CENTRAL ITALY
15,2022-11-09 15:37:05.0\n1hr 50min ago,21.53,68.57,"ANTOFAGASTA, CHILE"
16,2022-11-09 15:26:21.9\n2hr 00min ago,44.01,13.28,ADRIATIC SEA
17,2022-11-09 15:23:39.1\n2hr 03min ago,44.00,13.30,ADRIATIC SEA
18,2022-11-09 15:06:55.0\n2hr 20min ago,12.70,88.19,OFFSHORE EL SALVADOR
19,2022-11-09 14:58:24.0\n2hr 28min ago,17.32,100.83,"GUERRERO, MEXICO"

In [46]:
dt = []
for dato in df['Date & Time']:
    dt.append(dato.replace('\n', ' '))

In [47]:
df['Date & Time'] = dt

In [48]:
df[:20]

,Date & Time,Latitude,Longitude,Region_name
0,2022-11-09 17:12:40.0 14min ago,24.16,67.15,"SALTA, ARGENTINA"
1,2022-11-09 17:05:45.0 21min ago,8.90,126.69,"MINDANAO, PHILIPPINES"
2,2022-11-09 16:58:17.0 28min ago,17.95,66.91,PUERTO RICO REGION
3,2022-11-09 16:57:37.0 29min ago,20.58,69.43,"TARAPACA, CHILE"
4,2022-11-09 16:57:20.7 29min ago,38.09,176.65,NORTH ISLAND OF NEW ZEALAND
5,2022-11-09 16:50:09.7 37min ago,43.91,13.31,CENTRAL ITALY
6,2022-11-09 16:50:02.0 37min ago,15.10,94.37,"OFF COAST OF CHIAPAS, MEXICO"
7,2022-11-09 16:43:54.0 43min ago,10.16,118.81,"SOUTH OF SUMBAWA, INDONESIA"
8,2022-11-09 16:41:19.4 45min ago,19.18,155.49,"ISLAND OF HAWAII, HAWAII"
9,2022-11-09 16:38:20.0 48min ago,10.13,118.82,"SOUTH OF SUMBAWA, INDONESIA"
10,2022-11-09 16:32:35.0 54min ago,26.87,70.14,"ATACAMA, CHILE"
11,2022-11-09 16:10:36.3 1hr 16min ago,43.95,13.29,CENTRAL ITALY
12,2022-11-09 16:07:15.2 1hr 19min ago,34.55,23.87,"CRETE, GREECE"
13,2022-11-09 15:58:32.1 1hr 28min ago,37.07,28.38,WESTERN TURKEY
14,2022-11-09 15:40:34.6 1hr 46min ago,43.97,13.33,CENTRAL ITALY
15,2022-11-09 15:37:05.0 1hr 50min ago,21.53,68.57,"ANTOFAGASTA, CHILE"
16,2022-11-09 15:26:21.9 2hr 00min ago,44.01,13.28,ADRIATIC SEA
17,2022-11-09 15:23:39.1 2hr 03min ago,44.00,13.30,ADRIATIC SEA
18,2022-11-09 15:06:55.0 2hr 20min ago,12.70,88.19,OFFSHORE EL SALVADOR
19,2022-11-09 14:58:24.0 2hr 28min ago,17.32,100.83,"GUERRERO, MEXICO"

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url_leti = 'https://twitter.com/sabaterleticia?lang=en'

In [ ]:
driver.get(url_leti)

In [ ]:
tweets = driver.find_element(By.XPATH, '//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[1]/div[1]/div/div/div/div/div/div[2]/div/div')

In [ ]:
tweets.text

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url_espe = 'https://twitter.com/esperanzagracia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'

In [ ]:
driver.get(url_espe)

In [ ]:
espe = driver.find_element(By.XPATH,'//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div/div/div[3]/div/div/div/div/div[5]/div[2]/a/span[1]/span')
espe.text

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url_wik = 'https://www.wikipedia.org/'

In [ ]:
driver.get(url_wik)

In [ ]:
langu =[e.text.replace('\n',' tiene ') for e in driver.find_elements(By.CLASS_NAME, 'central-featured-lang')]
langu

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url_uk = 'https://data.gov.uk/'

In [ ]:
driver.get(url_uk)

In [ ]:
uk =[e.text for e in driver.find_elements(By.CLASS_NAME, 'govuk-link')]
uk[4::]

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [6]:
# This is the url you will scrape in this exercise
url_numb = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [7]:
driver.get(url_numb)

In [8]:
filas=driver.find_element(By.TAG_NAME, 'tbody')
rows=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in filas.find_elements(By.TAG_NAME, 'tr')]
rows

[[],
 ['Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance'],
 ['English', '373', 'Indo-European', 'Germanic'],
 ['Hindi\n(excl. Urdu)', '344', 'Indo-European', 'Indo-Aryan'],
 ['Bengali', '234', 'Indo-European', 'Indo-Aryan'],
 ['Portuguese', '232', 'Indo-European', 'Romance'],
 ['Russian', '154', 'Indo-European', 'Balto-Slavic'],
 ['Japanese', '125', 'Japonic', 'Japanese'],
 ['Yue Chinese\n(incl. Cantonese)', '85.2', 'Sino-Tibetan', 'Sinitic'],
 ['Vietnamese', '84.6', 'Austroasiatic', 'Vietic'],
 ['Marathi', '83.1', 'Indo-European', 'Indo-Aryan'],
 ['Telugu', '82.7', 'Dravidian', 'South-Central'],
 ['Turkish', '82.2', 'Turkic', 'Oghuz'],
 ['Wu Chinese\n(incl. Shanghainese)', '81.8', 'Sino-Tibetan', 'Sinitic'],
 ['Korean', '81.7', 'Koreanic', 'language isolate'],
 ['French', '79.9', 'Indo-European', 'Romance'],
 ['Tamil', '78.4', 'Dravidian', 'South'],
 ['Standard German', '75.6', 'Indo-European', 'Germanic'],
 ['Egyptian Spoken Arabic\n(excl. Saʽidi Arabic)',
  '74.8',
  'Afroasiatic',
  'Semitic'],
 ['Urdu\n(excl. Hindi)', '70.2', 'Indo-European', 'Indo-Aryan'],
 ['Javanese', '68.3', 'Austronesian', 'Malayo-Polynesian'],
 ['Western Punjabi\n(excl. Eastern Punjabi)',
  '66.4',
  'Indo-European',
  'Indo-Aryan'],
 ['Italian', '64.8', 'Indo-European', 'Romance'],
 ['Gujarati', '57.0', 'Indo-European', 'Indo-Aryan'],
 ['Iranian Persian\n(excl. Dari and Tajik)',
  '56.4',
  'Indo-European',
  'Iranian'],
 ['Bhojpuri', '52.3', 'Indo-European', 'Indo-Aryan'],
 ['Hausa', '50.8', 'Afroasiatic', 'Chadic']]

In [ ]:
cols=driver.find_element(By.TAG_NAME, 'thead')

columnas=[c.text for c in cols.find_elements(By.TAG_NAME, 'th')]

columnas

In [ ]:
df=pd.DataFrame(rows, columns=columnas)

df

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url_imdb = 'https://www.imdb.com/chart/top'

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code