# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [2]:
%pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-3.8.4-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: requests in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: tqdm in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: python-dotenv in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jimy/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2021.10.8)
Installing collected packages: webdriver-manager
Successfully installed webdriver-manager-3.8.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By 

import time

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

from selenium import webdriver

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
#opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
PATH=ChromeDriverManager().install()   # instala el driver

driver=webdriver.Chrome(PATH)         # abre una pestaña de chrome

driver.get('https://www.google.es')   # Entra

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
driver=webdriver.Chrome(PATH)

driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
driver.find_element(By.XPATH, '//*[@id="pa-emilk"]').text.split('\n')[1:2] # Por ID

['Emil Ernerfeldt']

In [7]:
driver.find_element(By.XPATH, '//*[@id="pa-emilk"]/div[2]/div[1]/div[1]/h1/a').text # XPATH entero

'Emil Ernerfeldt'

In [8]:
a = driver.find_elements(By.CLASS_NAME, 'Box-row')
a[0].find_elements(By.TAG_NAME, 'a')[2].text

'Nikita Sobolev'

In [9]:
output = []

for i in range(len(a)):
    name = a[i].find_elements(By.TAG_NAME, 'a')[2].text
    tagname= a[i].find_elements(By.TAG_NAME, 'a')[3].text
    output.append(name + ' ' + '(' + tagname + ')')

output

['Nikita Sobolev (sobolevn)',
 'Emil Ernerfeldt (emilk)',
 'Jonny Borges (jonataslaw)',
 'Stephen Celis (stephencelis)',
 'monkeyWie (gopeed)',
 'Azure SDK Bot (azure-sdk)',
 'Martin Bonnin (martinbonnin)',
 'Wangchong Zhou (fffonion)',
 'Ammar Ahmed (ammarahm-ed)',
 'Matt Bierner (mjbvz)',
 'Alessandro Ros (aler9)',
 'Mike Perham (mperham)',
 'DavidKorczynski (Follow)',
 'Abhijeet Prasad (AbhiPrasad)',
 'Mislav Marohnić (mislav)',
 'Leonard Hecker (lhecker)',
 'Pedro Cuenca (pcuenca)',
 'Marcus Olsson (marcusolsson)',
 'Alex Eagle (alexeagle)',
 'Nolan Lawson (nolanlawson)',
 'Luke Latham (guardrex)',
 'Joshua Levy (jlevy)',
 'Bas Nijholt (basnijholt)',
 'Ice3man (Ice3man543)',
 'kunfei (gedoor)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [11]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [12]:
b = driver.find_element(By.CLASS_NAME, 'h3')

b.text

'public-apis / public-apis'

In [13]:
driver.find_element(By.CLASS_NAME, 'text-normal').text

'public-apis /'

In [14]:
len(driver.find_elements(By.CLASS_NAME, 'h3'))

25

In [15]:
developers = [e.text for e in driver.find_elements(By.CLASS_NAME, 'h3')]

list(developers)

['public-apis / public-apis',
 'bregman-arie / devops-exercises',
 'facebookresearch / fairseq',
 'cloneofsimo / paint-with-words-sd',
 'Azure / azure-cli',
 'caronc / apprise',
 'joweich / chat-miner',
 'PaddlePaddle / PaddleTS',
 'mli / autocut',
 'sczhou / CodeFormer',
 'unifyai / ivy',
 'augmentedstartups / AS-One',
 'loTus04 / W4SP-Stealer',
 'rwightman / pytorch-image-models',
 'iterativv / NostalgiaForInfinity',
 'getredash / redash',
 'ethereum / consensus-specs',
 'd8ahazard / sd_dreambooth_extension',
 'microsoft / recommenders',
 'zulip / zulip',
 'ultralytics / yolov5',
 'openai / improved-diffusion',
 'facebookresearch / ParlAI',
 'aliyun / surftrace',
 'NVlabs / stylegan2-ada-pytorch']

#### Display all the image links from Walt Disney wikipedia page

In [16]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [17]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [18]:
links=[e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]

links

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [19]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [20]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [21]:
[e.get_attribute('href')for e in driver.find_elements(By.TAG_NAME,'a')][1:][:5]

['https://en.wikipedia.org/wiki/Python#mw-head',
 'https://en.wikipedia.org/wiki/Python#searchInput',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/wiki/Python#Snakes']

#### Number of Titles that have changed in the United States Code since its last release point

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [23]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [24]:
changed =[e.text.replace('٭', '') for e in driver.find_elements(By.CLASS_NAME, 'usctitlechanged')]

len(changed)

9

#### A Python list with the top ten FBI's Most Wanted names

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [26]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [27]:
driver.find_element(By.XPATH, '//*[@id="query-results-0f737222c5054a81a120bce207b0446a"]/ul/li[1]/h3/a').text

'OMAR ALEXANDER CARDENAS'

In [28]:
driver.find_element(By.CSS_SELECTOR, '#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a').text

'OMAR ALEXANDER CARDENAS'

In [29]:
[e.text for e in driver.find_elements(By.CLASS_NAME, 'title')][1:]

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [99]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [100]:
driver=webdriver.Chrome(PATH)

driver.get(url)

In [101]:
#driver.find_element(By.XPATH, '//*[@id="tbody"]').text.replace('\n', ' ')

In [102]:
tabla=driver.find_element(By.XPATH, '//*[@id="tbody"]')

filas=tabla.find_elements(By.TAG_NAME, 'tr')


data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in range(3,len(elemen)-1):
        
        tmp.append(elemen[e].text)
        
    data.append(tmp)

    
#data

In [97]:
data=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

#data

In [38]:
cabeceras=driver.find_element(By.TAG_NAME, 'thead')

cabeceras=[c.text.replace('\n', ' ') for c in cabeceras.find_elements(By.TAG_NAME, 'th')]


cabeceras

['Citizen Response',
 'Date & Time UTC',
 'Latitude degrees',
 'Longitude degrees',
 'Depth km',
 'Mag [+]',
 'Region name [+]',
 '']

In [44]:
df = pd.DataFrame(columns=cabeceras)

In [45]:
new_column =[]

for c in df.columns:
    
    c = c.replace("[+]","")
    
    new_column.append(c)
    
df.columns = new_column

In [53]:
df2 = pd.DataFrame(data)

In [59]:
df2.columns

RangeIndex(start=0, stop=13, step=1)

In [55]:
df2[:20]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,2022-11-09 19:11:57.2\n19min ago,46.25,N,7.20,E,7,,1.1,SWITZERLAND,
1,,,,2022-11-09 19:04:22.0\n26min ago,8.47,N,127.05,E,26,,3.0,PHILIPPINE ISLANDS REGION,
2,,,,2022-11-09 18:48:00.0\n43min ago,2.93,S,122.07,E,10,,2.9,"SULAWESI, INDONESIA",
3,,,,2022-11-09 18:44:09.0\n47min ago,37.21,N,3.68,W,7,,1.7,SPAIN,
4,,,,2022-11-09 18:41:09.8\n50min ago,26.19,S,178.27,E,718,,4.9,SOUTH OF FIJI ISLANDS,
5,,,,2022-11-09 18:30:03.0\n1hr 01min ago,33.66,S,72.04,W,35,,3.1,"OFFSHORE VALPARAISO, CHILE",
6,,,,2022-11-09 18:29:38.9\n1hr 01min ago,43.89,N,13.23,E,21,,2.1,CENTRAL ITALY,
7,,,,2022-11-09 17:59:22.0\n1hr 31min ago,30.12,S,71.24,W,65,,2.8,"COQUIMBO, CHILE",
8,,,,2022-11-09 17:58:07.0\n1hr 33min ago,21.86,S,68.58,W,124,,2.9,"ANTOFAGASTA, CHILE",
9,,,,2022-11-09 17:52:00.0\n1hr 39min ago,36.92,S,177.62,E,56,,3.5,"OFF E. COAST OF N. ISLAND, N.Z.",
10,,,,2022-11-09 17:49:48.6\n1hr 41min ago,26.18,S,178.43,E,685,,5.5,SOUTH OF FIJI ISLANDS,
11,,,,2022-11-09 17:47:30.0\n1hr 43min ago,36.20,N,140.10,E,50,,3.5,"NEAR EAST COAST OF HONSHU, JAPAN",
12,,,,2022-11-09 17:46:24.0\n1hr 44min ago,19.34,S,69.69,W,85,,2.8,"TARAPACA, CHILE",
13,,,,2022-11-09 17:41:47.7\n1hr 49min ago,10.95,S,113.40,E,15,,4.8,"SOUTH OF JAVA, INDONESIA",
14,,,,2022-11-09 17:37:24.8\n1hr 53min ago,36.04,N,22.20,E,6,,2.5,SOUTHERN GREECE,
15,,,,2022-11-09 17:37:20.5\n1hr 53min ago,29.36,N,15.61,W,41,,2.8,"CANARY ISLANDS, SPAIN REGION",
16,,,,2022-11-09 17:35:43.0\n1hr 55min ago,14.23,N,93.40,W,10,,4.2,"OFF COAST OF CHIAPAS, MEXICO",
17,,,,2022-11-09 17:29:46.5\n2hr 01min ago,19.44,N,66.34,W,17,,3.7,PUERTO RICO REGION,
18,,,,2022-11-09 17:19:36.9\n2hr 11min ago,43.92,N,13.34,E,10,,2.2,CENTRAL ITALY,
19,,,,2022-11-09 17:12:40.0\n2hr 18min ago,24.16,S,67.15,W,195,,3.1,"SALTA, ARGENTINA",

In [102]:
df.columns

Index(['Citizen Response', 'Date & Time UTC', 'Latitude degrees',
       'Longitude degrees', 'Depth km', 'Mag ', 'Region name ', ''],
      dtype='object')

In [49]:
df.drop(columns=[''], inplace=True)

In [50]:
df.columns

Index(['Citizen Response', 'Date & Time UTC', 'Latitude degrees',
       'Longitude degrees', 'Depth km', 'Mag ', 'Region name '],
      dtype='object')

Empty DataFrame
Columns: [Citizen Response, Date & Time UTC, Latitude degrees, Longitude degrees, Depth km, Mag , Region name ]
Index: []

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [60]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [61]:
driver=webdriver.Chrome(PATH)
driver.get(url)

In [62]:
table = driver.find_elements(By.CLASS_NAME  ,'central-featured-lang')

In [63]:
table[0].text.split("\n")[0]

'Español'

In [64]:
table[0].text.split("\n")[1].split("+")[0].replace(" ","")

'1755000'

In [65]:
lst = []
for i in range(10):
    language = table[i].text.split("\n")[0]
    amount = table[i].text.split("\n")[1].split("+")[0].replace(" ","")
    lst.append({'language': language,
                         'number of articles': amount})
df2 =pd.DataFrame(lst)
df2

    language number of articles
0    Español            1755000
1    English            6458000
2        日本語            1314000
3    Русский            1798000
4   Français            2400000
5    Deutsch            2667000
6   Italiano            1742000
7         中文            1256000
8  Português            1085000
9    العربية            1159000

#### A list with the different kind of datasets available in data.gov.uk

In [71]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [72]:
driver=webdriver.Chrome(PATH)
driver.get(url)

In [73]:
links = driver.find_elements(By.CLASS_NAME  ,'govuk-link')
links[4].text

'Business and economy'

In [74]:
lst = []
for i in range(4,len(links)):
    lst.append(links[i].text)

In [75]:
lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [76]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [77]:
driver=webdriver.Chrome(PATH)
driver.get(url)

In [78]:
driver.find_elements(By.TAG_NAME, 'tbody')[0].text

'Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties) 920 Sino-Tibetan Sinitic\nSpanish 475 Indo-European Romance\nEnglish 373 Indo-European Germanic\nHindi\n(excl. Urdu) 344 Indo-European Indo-Aryan\nBengali 234 Indo-European Indo-Aryan\nPortuguese 232 Indo-European Romance\nRussian 154 Indo-European Balto-Slavic\nJapanese 125 Japonic Japanese\nYue Chinese\n(incl. Cantonese) 85.2 Sino-Tibetan Sinitic\nVietnamese 84.6 Austroasiatic Vietic\nMarathi 83.1 Indo-European Indo-Aryan\nTelugu 82.7 Dravidian South-Central\nTurkish 82.2 Turkic Oghuz\nWu Chinese\n(incl. Shanghainese) 81.8 Sino-Tibetan Sinitic\nKorean 81.7 Koreanic language isolate\nFrench 79.9 Indo-European Romance\nTamil 78.4 Dravidian South\nStandard German 75.6 Indo-European Germanic\nEgyptian Spoken Arabic\n(excl. Saʽidi Arabic) 74.8 Afroasiatic Semitic\nUrdu\n(excl. Hindi) 70.2 Indo-European Indo-Aryan\nJavanese 68.3 Austronesian Malayo-Polynesian\nWestern Punjabi\n(excl. Eastern Punjabi) 66.4 Indo-European Indo-Aryan\nItalian 64.8 Indo-European Romance\nGujarati 57.0 Indo-European Indo-Aryan\nIranian Persian\n(excl. Dari and Tajik) 56.4 Indo-European Iranian\nBhojpuri 52.3 Indo-European Indo-Aryan\nHausa 50.8 Afroasiatic Chadic'

In [79]:
tabla=driver.find_elements(By.TAG_NAME, 'tbody')[0]

filas=tabla.find_elements(By.TAG_NAME, 'tr')


data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in range(len(elemen)):
        
        tmp.append(elemen[e].text)
        
    data.append(tmp)

In [80]:
data

[['Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance'],
 ['English', '373', 'Indo-European', 'Germanic'],
 ['Hindi\n(excl. Urdu)', '344', 'Indo-European', 'Indo-Aryan'],
 ['Bengali', '234', 'Indo-European', 'Indo-Aryan'],
 ['Portuguese', '232', 'Indo-European', 'Romance'],
 ['Russian', '154', 'Indo-European', 'Balto-Slavic'],
 ['Japanese', '125', 'Japonic', 'Japanese'],
 ['Yue Chinese\n(incl. Cantonese)', '85.2', 'Sino-Tibetan', 'Sinitic'],
 ['Vietnamese', '84.6', 'Austroasiatic', 'Vietic'],
 ['Marathi', '83.1', 'Indo-European', 'Indo-Aryan'],
 ['Telugu', '82.7', 'Dravidian', 'South-Central'],
 ['Turkish', '82.2', 'Turkic', 'Oghuz'],
 ['Wu Chinese\n(incl. Shanghainese)', '81.8', 'Sino-Tibetan', 'Sinitic'],
 ['Korean', '81.7', 'Koreanic', 'language isolate'],
 ['French', '79.9', 'Indo-European', 'Romance'],
 ['Tamil', '78.4', 'Dravidian', 'South'],
 ['Standard German', '75.6', 'Indo-European', 'Germanic'],
 ['Egyptian Spoken Arabic\n(excl. Saʽidi Arabic)',
  '74.8',
  'Afroasiatic',
  'Semitic'],
 ['Urdu\n(excl. Hindi)', '70.2', 'Indo-European', 'Indo-Aryan'],
 ['Javanese', '68.3', 'Austronesian', 'Malayo-Polynesian'],
 ['Western Punjabi\n(excl. Eastern Punjabi)',
  '66.4',
  'Indo-European',
  'Indo-Aryan'],
 ['Italian', '64.8', 'Indo-European', 'Romance'],
 ['Gujarati', '57.0', 'Indo-European', 'Indo-Aryan'],
 ['Iranian Persian\n(excl. Dari and Tajik)',
  '56.4',
  'Indo-European',
  'Iranian'],
 ['Bhojpuri', '52.3', 'Indo-European', 'Indo-Aryan'],
 ['Hausa', '50.8', 'Afroasiatic', 'Chadic']]

In [81]:
df = pd.DataFrame(data, columns= ["Language","Speakers","Language_Family","Branch"])

In [82]:
for e in range(len(df.Language)):
    df.Language[e] = df.Language[e].split("\n")[0]

In [83]:
df = df.head(10)

In [84]:
df

           Language Speakers Language_Family        Branch
0  Mandarin Chinese      920    Sino-Tibetan       Sinitic
1           Spanish      475   Indo-European       Romance
2           English      373   Indo-European      Germanic
3             Hindi      344   Indo-European    Indo-Aryan
4           Bengali      234   Indo-European    Indo-Aryan
5        Portuguese      232   Indo-European       Romance
6           Russian      154   Indo-European  Balto-Slavic
7          Japanese      125         Japonic      Japanese
8       Yue Chinese     85.2    Sino-Tibetan       Sinitic
9        Vietnamese     84.6   Austroasiatic        Vietic

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [90]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [91]:
driver=webdriver.Chrome(PATH)
driver.get(url)

In [92]:
driver.find_elements(By.CLASS_NAME, "titleColumn")[0].find_element(By.TAG_NAME,"a").text

'Cadena perpetua'

In [93]:
driver.find_elements(By.CLASS_NAME, "titleColumn")[0].find_element(By.CLASS_NAME,"secondaryInfo").text.replace("(","").replace(")","")

'1994'

In [94]:
driver.find_elements(By.CLASS_NAME, "titleColumn")[0].find_element(By.TAG_NAME,"a").get_attribute('title').split("(")[0]

'Frank Darabont '

In [95]:
driver.find_elements(By.CLASS_NAME, "titleColumn")[0].find_element(By.TAG_NAME,"a").get_attribute('title').rsplit("(dir.), ")[1]

'Tim Robbins, Morgan Freeman'

In [96]:
lst = []
for i in range(len(driver.find_elements(By.CLASS_NAME, "titleColumn"))):
    name = driver.find_elements(By.CLASS_NAME, "titleColumn")[i].find_element(By.TAG_NAME,"a").text
    year = driver.find_elements(By.CLASS_NAME, "titleColumn")[i].find_element(By.CLASS_NAME,"secondaryInfo").text.replace("(","").replace(")","")
    director= driver.find_elements(By.CLASS_NAME, "titleColumn")[i].find_element(By.TAG_NAME,"a").get_attribute('title').split("(")[0]
    actors = driver.find_elements(By.CLASS_NAME, "titleColumn")[i].find_element(By.TAG_NAME,"a").get_attribute('title').rsplit("(dir.), ")[1]
    lst.append({'Movie_Name': name,
                         'Release_Year': year, 'Director': director , 'Actors': actors})
df2 =pd.DataFrame(lst)
df2.head(10)

,Movie_Name,Release_Year,Director,Actors
0,Cadena perpetua,1994,Frank Darabont,"Tim Robbins, Morgan Freeman"
1,El padrino,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino"
2,El caballero oscuro,2008,Christopher Nolan,"Christian Bale, Heath Ledger"
3,El padrino (parte II),1974,Francis Ford Coppola,"Al Pacino, Robert De Niro"
4,12 hombres sin piedad,1957,Sidney Lumet,"Henry Fonda, Lee J. Cobb"
5,La lista de Schindler,1993,Steven Spielberg,"Liam Neeson, Ralph Fiennes"
6,El señor de los anillos: El retorno del rey,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen"
7,Pulp Fiction,1994,Quentin Tarantino,"John Travolta, Uma Thurman"
8,El señor de los anillos: La comunidad del anillo,2001,Peter Jackson,"Elijah Wood, Ian McKellen"
9,"El bueno, el feo y el malo",1966,Sergio Leone,"Clint Eastwood, Eli Wallach"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code